
/* line 9 : /Users/darryl/Documents/personal/git/hj-bday/src/css/index.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/src/css/index.styl */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700|Shrikhand");

/* line 297 : /Users/darryl/Documents/personal/git/hj-bday/node_modules/stylus/lib/functions/index.styl */

/* line 2 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/variables.styl */

/* line 10 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/variables.styl */

/* line 10 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/general.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/general.styl */
* {
  box-sizing: border-box;
}

/* line 4 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/general.styl */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: anti-aliased;
}

/* line 10 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/general.styl */
sup {
  font-size: 0.5em;
  text-transform: lowercase;
}

/* line 12 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/general.styl */

/* line 12 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/utilities.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/utilities.styl */
.u-background-layer {
  z-index: -1;
}

/* line 4 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/utilities.styl */
.u-fade-out {
  opacity: 0;
  transition: 0.5s all ease-in;
}

/* line 8 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/utilities.styl */
.u-fixed-position {
  left: 0;
  position: fixed;
  top: 0;
}

/* line 13 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/utilities.styl */
.u-full-screen {
  height: 100vh;
  width: 100vw;
}

/* line 15 : /Users/darryl/Documents/personal/git/hj-bday/src/css/base/utilities.styl */

/* line 15 : /Users/darryl/Documents/personal/git/hj-bday/src/css/objects/iframes.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/src/css/objects/iframes.styl */
.o-iframe {
  border: none;
  display: block;
  height: 100vh;
  position: relative;
  width: 100vw;
}

/* line 6 : /Users/darryl/Documents/personal/git/hj-bday/src/css/objects/sections.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/src/css/objects/sections.styl */

/* line 3 : /Users/darryl/Documents/personal/git/hj-bday/src/css/objects/sections.styl */
.o-section > * {
  overflow: hidden;
}

/* line 4 : /Users/darryl/Documents/personal/git/hj-bday/src/css/objects/sections.styl */

/* line 4 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/answer.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/answer.styl */
.c-answer {
  background: #fff;
  mix-blend-mode: screen;
  text-align: center;
  text-transform: uppercase;
}

/* line 7 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/answer.styl */
.c-answer-heading {
  font-size: 35vh;
  line-height: 100vh;
  margin: 0;
}
@media (min-width: 45em) {

/* line 12 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/answer.styl */
  .c-answer-heading {
    font-size: 75vh;
  }
}

/* line 13 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/image-grid.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/image-grid.styl */
.c-image-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0;
}

/* line 6 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/image-grid.styl */
.c-image-grid-item {
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all ease-out;
}

/* line 12 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/love-from.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/love-from.styl */
.c-love-from {
  background: #fff;
  text-align: center;
}

/* line 5 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/love-from.styl */
.c-love-from-heading {
  color: #fc427b;
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  margin: 0 0 1em 0;
}

/* line 11 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/love-from.styl */
.c-love-from-people {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
  position: relative;
}

/* line 17 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/love-from.styl */
.c-love-from-person {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

/* line 23 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/love-from.styl */
.c-love-from-person--Darryl {
  background-image: url("img/darryl.jpg");
}

/* line 26 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/love-from.styl */
.c-love-from-person--Grace {
  background-image: url("img/grace.jpg");
}

/* line 29 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/love-from.styl */
.c-love-from-ampersand {
  color: #fc427b;
  font-family: 'Shrikhand', cursive;
  font-size: 8em;
  position: absolute;
  left: 50%;
  mix-blend-mode: multiply;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 37 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/real-age.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/real-age.styl */
.c-real-age {
  background: rgba(90,27,65,0.5);
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

/* line 8 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/real-age.styl */
.c-real-age-heading {
  font-size: 2em;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 0 0 0.5em #000;
}

/* line 15 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */

/* line 1 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */
.c-to-celebrate {
  background: #fff;
  padding: 2em 0;
  text-align: center;
}

/* line 6 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */
.c-to-celebrate-heading {
  color: #fc427b;
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  margin: 0 0 1em 0;
}

/* line 12 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */
.c-to-celebrate-events {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}
@media (min-width: 45em) {

/* line 17 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */
  .c-to-celebrate-events {
    grid-template-columns: 1fr 1fr;
  }
}

/* line 20 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */
.c-to-celebrate-event {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5em 1em #000;
  color: #fff;
  min-height: 75vh;
  padding: 2em 1em;
  text-shadow: 0 0 6px #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* line 34 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */
.c-to-celebrate-event--Above {
  background-image: url("img/12.jpg");
}

/* line 37 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */
.c-to-celebrate-event--Below {
  background-image: url("img/1.jpg");
}

/* line 41 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */
.c-to-celebrate-event-what {
  background: rgba(0,0,0,0.4);
  font-family: 'Shrikhand', cursive;
  font-size: 3em;
  line-height: 1;
  margin: 0 0 0.5rem 0;
  padding: 0.75rem 1rem 0.5rem 1rem;
}

/* line 49 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */
.c-to-celebrate-event-when {
  background: rgba(0,0,0,0.4);
  font-size: 0.75em;
  font-weight: 300;
  margin: 0 0 1em 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-transform: uppercase;
}

/* line 57 : /Users/darryl/Documents/personal/git/hj-bday/src/css/components/to-celebrate.styl */
.c-to-celebrate-event-where {
  background: rgba(0,0,0,0.4);
  border: 2px solid #fff;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  padding: 0.5em;
}
